{% extends "_layout.html" %}

{% block title %}
  My Profile |
{% endblock %}

{% block content %}
  <div class="jumbotron center-container">
    <h1 class="lead">Hi {{current_user.username}}</h1>
    {% if current_user.profile_image == None %}
      <img src="/static/images/default_avatar.png" class="profile-image" alt="profile">
    {% else %}
      <img src="{{current_user.profile_image}}" class="profile-image" alt="profile">
    {% endif %}
    <br/>
    {% if current_user.is_authenticated %}
      <a href="{{url_for('users.edit', id=current_user.id)}}" class="btn btn-outline-secondary btn-sm">Edit Profile</a>
  </div>
  {% endif %}
{% endblock %}
