body {
  background-color: #f2f2f2;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

.validation_error {
  font-size: 0.8rem;
  color: #ff4d4d;
  list-style-position: inside;
  padding-left: 0;
}

.navbar-brand {
  font-size: 1.3rem;
}

.jumbotron {
  background-color: inherit;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
