* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

.validation_error {
  font-size: 0.8rem;
  color: #ff4d4d;
  list-style-position: inside;
  padding-left: 0;
}

.navbar {
  margin-bottom: 15px;
}

.navbar-brand {
  font-size: 1.3rem;
}

.jumbotron {
  background-color: inherit;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-title {
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
  padding-bottom: 20px;
}

.profile-image {
  border-radius: 50%;
  height: 150px;
  max-width: 100%;
  object-fit: cover;
}

.feed-picture {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1.2rem!important;
}

.edit-picture {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.no-caption {
  color: #cccccc;
  font-style: italic;
}
