{% extends "_layout.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="center-container">
      <img src="{{user.profile_image}}" class="profile-image" alt="profile">
      <br>
      <h1 class="lead">Follower requests</h1>
      <a href="{{url_for('users.show', username=user.username)}}" class="btn btn-sm btn-outline-secondary">Go Back</a>
    </div>
    <hr>
      <div class="row">
        {% for follower in followers %}
          <div class="span6">
            <a href="{{url_for('users.show', username=follower.username)}}">
              <img src="{{follower.profile_image}}" class="tiny-profile" alt="profile">
            </a>
            <small>{{follower.username}}</small>
          </div>
          &nbsp
          <div class="span6 center-container">
            <form action="{{url_for('followers.approve', id=follower.id)}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
              <input type="hidden" name="follower" value="{{follower.id}}"/>
              <button type="submit" class="btn btn-sm btn-outline-success">Approve</button>
            </form>
          </div>
          &nbsp
          <div class="span6 center-container">
            <form action="{{url_for('followers.reject', id=follower.id)}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
              <input type="hidden" name="follower" value="{{follower.id}}"/>
              <button type="submit" class="btn btn-sm btn-outline-secondary">Reject</button>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
