{% extends "_layout.html" %}

{% block content %}
  <div class="jumbotron center-container">
    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_q5pk6p1k.json" background="transparent" speed="1" style="width: 350px; height: 350px;" loop autoplay></lottie-player>
    <p class="text-muted">Error 401</p>
    <h1 class="lead">Wait a minute!</h1>
    <small class="text-muted">Only authorized users allowed beyond this point.</small>
    <br/>
    <a href="{{url_for('home')}}" class="btn btn-secondary">Go Back</a>
  </div>
{% endblock %}
